<!DOCTYPE html>

<html>

   <head>
      <title>Wagni URL Shortener</title>
           <link rel="shortcut icon" href="https://avatars3.githubusercontent.com/u/61193321?s=460&u=7389af39e9b0236cb9ee8cdba6508afa90dcb9ff&v=4" type="image/x-icon" sizes="20x20"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>URL Shortener Microservice</h2>
        <hr>
        <h3>API Description: </h3>
        <ol>
          <li>I can POST a URL to <code>[project_url]/api/shorturl/new</code> and I will receive a shortened URL in the JSON response.<br>Example : <code>{"original_url":"www.google.com","short_url":1}</code></li>
          <li>If I pass an invalid URL that doesn't follow the <code>http(s)://www.example.com(/more/routes)</code> format, the JSON response will contain an error like <code>{"error":"invalid URL"}</code><br></li>
          <li>When I visit the shortened URL, it will redirect me to my original link.</li>
        </ol>
        
        <h3>Short URL Creation </h3>
        <p>
          example: <code>POST [project_url]/api/shorturl/new</code> - <code>https://www.google.com</code>
        </p>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://github.com/Walf-dev">
          <input type="submit" value="POST URL">
        </form>
        <h3>Example Usage:</h3>
        <a href="https://wagni-url-shortener-api.glitch.me">
          [project_url]/api/short-url/24
        </a>

        <h3>Will Redirect to:</h3>
        <p>https://wagni-url-shortener-api.glitch.me</p>
      </div>
      <div class="footer">
        <p>
         Coded by <a href="https://github.com/Walf-dev"><strong>WAGNI Fredoly</strong> <img src="https://avatars3.githubusercontent.com/u/61193321?s=460&u=7389af39e9b0236cb9ee8cdba6508afa90dcb9ff&v=4"  width="50" height="50"/></a>
        </p>
      </div>
   </body>


</html>